
.container {
    position: relative;
    text-align: center;
  }
  
  .close-container {
    display: flex;
    justify-content: flex-end;
  }
  .head{
    /* text-decoration: underline; */
    font-style: italic;
  }
  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .books-list {
    list-style: none;
    padding: 0;
  }
  
  .book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .book-actions {
    display: flex;
    gap: 10px;
  }
  
  .icon {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .edit-icon:hover {
    color: #007bff;
  }
  
  .delete-icon:hover {
    color: #ff4d4d;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .add-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-btn:hover {
    background-color: #0056b3;
  }
  
  .add-icon {
    font-size: 1.2rem;
  }
  